/* CSS PARA EL MENU*/
.menu, .menu .dropdown-menu{
    background-color: #4db6ac; 
}
.menu{
    box-shadow: 0px 10px 6px -4px #009688;
}
.menu .dropdown-menu{
    font-size: .7em;
}
ul {
    list-style-type: none;
    margin: 0;
}
li {
    margin-right: 10px;
    float: left;
}
li.menu_li a {
    font-size: 1.7em;
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}
li.menu_li a:hover {
    background: #4db6ac;
    color:#ffca28;
}
body{
    background-color: #fff3e0;
}
/*.btn-primary{
    background-color: #4db6ac;
    border-color: #009688;
}*/
/*PEQUEÑA BARRA QUE APARECE DEBAJO DE CADA LISTA DEL MENU, PARA INDICARNOS DONDE ESTAMOS*/
.subdiv{
    height: 2px;
    background-color: #fdb61c;
}
/* Contenedor del cuerpo de la pagina*/
.contenedor{
    width: 95%;
    margin-top: 2%;
}
/* Div que contiene el login*/
.form-login{
  
    width: 30%;
    margin-left: 35%;
}
.login_tittle{
    font-size: 2.3em;
    color:white;
    text-align: center;
}
.form-login label{
    font-size: 1.5em;
}
.form-login input[type="submit"]{
    font-size: 1.5em;
    width: 100%;
}